@import url("../css/fonts.css");

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /* theme colors */
    --lightblue: #8CA1FF;
    --dkblue: #394DA3;
    --midblue: #6B83F0;
    --whitebg: whitesmoke;

    /* fonts */
    --Title: "Barlow", cursive;
    --Secondary: "Rajdhani", cursive;
}

/* ---- global classes ---- */
a{
    text-decoration: none;
    color: var(--midblue);
    font-family: var(--Title);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

hr{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--dkblue);
}

h1{
    font-family: var(--Title);
    font-size: 2.5rem;
    color: var(--dkblue);
    margin: auto;
    margin-left: 5px;
}

h2{
    font-family: var(--Title);
    font-size: 2rem;
    margin: auto;
    margin-left: 5px;
    color: var(--dkblue);
}

h3{
    font-family: var(--Secondary);
    font-size: 1.3rem;
    margin: auto;
    margin-left: 5px;
    color: var(--lightblue);
}

p{
    font-family: var(--Secondary);
    font-size: 1rem;
    text-indent: 25px;
    margin-right: 20px;
}

li{
    margin-left: 20px;
    font-family: var(--Secondary);
}

button{
    color: var(--dkblue);
    background-color: var(--whitebg);
    padding: 10px 24px;
    border-radius: 25px;
    border: 1px solid var(--dkblue);
    margin-bottom: 10px;
    font-family: var(--Secondary);
    font-size: 14px;;
}

button:hover {
    color: var(--lightblue);
    background-color: var(--dkblue);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px rgba(0, 0, 0, 0.19);

}
/* ---- global classes ---- */



/* ---- nav bar ---- */
.nav{
    background-color: var(--whitebg);
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--midblue);
}

.collapse{
    height: 30rem;
}
.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--lightblue);
}

.nav .nav-items .nav-link:hover a{
    color: var(--dkblue);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0.2rem;
}

.nav .social i:hover{
    color: var(--dkblue);
}

/* ---- nav bar ---- */



/* ---- footer ---- */

footer.footer{
    height: 100%;
    background: var(--lightblue);
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

footer.footer .container{
    display: grid;
    grid-template-columns: 100%;
    justify-content: right;
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
}

footer.footer p{
    font-family: var(--Title);
    font-size: 1rem;
    margin-bottom: 0;
}

/* ---- footer ---- */



/* viewport for nav bar */
@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }
}


/* ---- INDEX ---- */
/* ---- main ---- */
.present p{
    text-align: center;
}

.background-site{
    text-align: center;
}

a.link-portfolio-main{
    color: var(--dkblue);
}

a.link-portfolio-main:hover{
    color: var(--lightblue);
    text-decoration: underline;
}

.portfolio-present{
    text-align: left;
}

.main-portfolio{
    display: inline-block;
    vertical-align: middle;
}

.main-about{
    text-align: center;
}

.title{
    margin: 1rem;
}
/* ---- main ---- */
/* ---- INDEX ---- */

/* ---- PORTFOLIO ---- */
.portfolio-main-page{
    text-align: center;
    margin-top: 1rem;
}

.topics-l1, .topics-l2{
    margin: 1rem;
}

.content-1-2-3, .content-4-5-6{
    display: inline-block;
    vertical-align: middle;
    padding: 10rem;
}

p.legend{
    text-indent: 0;
}

p.legend a{
    color: black;
    font-size: 1rem;
    font-family: var(--Secondary);
}

p.legend a:hover{
    color: var(--midblue);
    text-decoration: underline;
}
/* ---- PORTFOLIO ---- */

/* ---- ABOUT ME ---- */
.about-me-page{
    margin-top: 1rem;
}
/* ---- ABOUT ME ---- */